*.log
Wordpress/wp-content/advanced-cache.php
Wordpress/wp-content/backup-db/
Wordpress/wp-content/backups/
Wordpress/wp-content/blogs.dir/
Wordpress/wp-content/cache/
Wordpress/wp-content/upgrade/
Wordpress/wp-content/uploads/
Wordpress/wp-content/plugins/
Wordpress/wp-content/mu-plugins/
Wordpress/wp-content/wp-cache-config.php
Wordpress/wp-content/plugins/hello.php

Wordpress/.htaccess
Wordpress/license.txt
Wordpress/readme.html
Wordpress/sitemap.xml
Wordpress/sitemap.xml.gz
Wordpress/wp-config.php
